<fieldset class="form" data-bind="scrollable: true">
    <p>This is your widget editor that is yet to be implemented.</p>

    <div class="form-group">
        <label for="restaurantId" class="form-label">
            Restaurant ID
            <button class="btn btn-info" type="button" title="Help" data-bind="tooltipToggle: 'Bla bla.'"></button>
        </label>
        <input id="restaurantId" type="text" class="form-control" data-bind="textInput: restaurantId" />
    </div>

    <div class="form-group">
        <label for="layout" class="form-label">
            Layout
            <button class="btn btn-info" type="button" title="Help" data-bind="tooltipToggle: 'Bla bla.'"></button>
        </label>
        <select id="layout" class="form-control" data-bind="value: layout">
            <option value="horizontal">Horizontal</option>
            <option value="vertical">Vertical</option>
        </select>
    </div>

    <div class="form-group">
        <label for="allowFastBooking" class="form-label">
            <input id="allowFastBooking" type="checkbox" data-bind="checked: allowFastBooking">
            Allow fast booking
        </label>

    </div>

    <div class="form-group">
        <label for="showCurrentWaitTime" class="form-label">
            <input id="showCurrentWaitTime" type="checkbox" data-bind="checked: showCurrentWaitTime">
            Show current wait time
        </label>
    </div>
</fieldset>